:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

